body{
	background: url('../img/fon/3.jpg') 100% 100% no-repeat;
	background-size: cover; 
}

.PanelBattleYou{
	position: absolute;
    width: 350px;
    height:650px;
	top: 10px;
	left: 10px;
}


.PanelBattleAct{
	position: absolute;
    width: 300px;
    height:650px;
	top: 10px;
	left: 360px;
}

.PanelBattleEnemy{
	position: absolute;
    width: 350px;
    height:650px;
	top: 10px;
	left: 460px;
}

.PanelBattleVS{
	position: absolute;
    width: 50px;
    height:50px;
	top: 210px;
	left: 410px;
}

.PanelBattleTime{
	position: absolute;
    width: 50px;
    height:50px;
	top: 310px;
	left: 410px;
}

.PanelBattleDamage{
	position: absolute;
    width: 150px;
    height:50px;
	top: 510px;
	left: 210px;
}
 
   
  .ene_name {
    background: #ffff30;
    border: 1px solid #ffff30;
    height: 20px;
    position: relative;
    overflow: hidden;
   }   
   
   
   
  .you_name {
    background: #ffff30;
    border: 1px solid #ffff30;
    height: 20px;
    position: relative;
    overflow: hidden;
   }      