body{
	background: url('../img/fon/3.jpg');
}


.PanelMap{
	position: absolute;
    width: 1000px;
    height:600px;
	top:50px;
	left:50px;
}

.PanelControl{
	position: absolute;
    width: 200px;
    height:400px;
	top:30px;
	left:1070px;
	background: #AFAFFF;
	outline: 2px solid #FFFF00;
	margin: 10px 15px 20px 20px;
	padding: 10px 10px 15px 15px;
}

.PanelTimer{
	position: absolute;
    width: 200px;
    height:80px;
	top:430px;
	left:1070px;
	background: #AFAFFF;
	outline: 2px solid #FFFF00;
	margin: 10px 15px 20px 20px;	
	padding: 10px 10px 15px 15px;
}

.PanelArmyInfo{
	position: absolute;
    width: 140px;
    height:600px;
	top:30px;
	left:1270px;
	background: #AFAFFF;
	outline: 2px solid #FFFF00;
	margin: 10px 15px 20px 20px;
	padding: 10px 10px 15px 15px;
	color: red;
}

.PanelResInfo{
	position: absolute;
    width: 200px;
    height:150px;
	top:480px;
	left:1070px;
	background: #AFAFFF;
	outline: 2px solid #FFFF00;
	margin: 10px 15px 20px 20px;
	padding: 10px 10px 15px 15px;
	color: yellow;
}

.BroadcastLine{
	position: absolute;
    width: 1000px;
    height:30px;
	top:690px;
	left:50px;	
	color:#ff0000;
	background-color:#cfffcf;
	vertical-align: middle;
}

.UpBtnTab{
	position: absolute;
    width: 1000px;
    height:30px;
	top:20px;
	left:50px;	
	color:#ff0000;
	background-color:#ffff00;
	vertical-align: middle;
}

.DownBtnTab{
	position: absolute;
    width: 1000px;
    height:30px;
	top:650px;
	left:50px;	
	color:#ff0000;
	background-color:#ffff00;
	vertical-align: middle;
}

.LeftBtnTab{
	position: absolute;
    width: 30px;
    height:600px;
	top:50px;
	left:20px;	
	color:#ff0000;
	background-color:#ffff00;
}

.RightBtnTab{
	position: absolute;
    width: 30px;
    height:600px;
	top:50px;
	left:1050px;	
	color:#ff0000;
	background-color:#ffff00;
	vertical-align: middle;
}
