body{
	background: url('../img/fon/3.jpg') 100% 100% no-repeat;
	background-size: cover; 
}

.PanelBattleMain{
	position: absolute;
    width: 490px;
    height:540px;
	top: 200px;
	left: 200px;
}

.PanelUnitInfo{
	position: absolute;
    width: 200px;
    height:200px;
	top: 200px;
	left: 750px;
	background: #FFFFFF;
	outline: 2px solid #FFFF00;
}

.PanelInfo{
	position: absolute;
    width: 490px;
    height:540px;
	top: 550px;
	left: 610px;
}

.Ramka{
	position: absolute;
    width: 40px;
    height:40px;
	outline: 15px solid #FF0000;
}
